<div id="image-modal" class="modal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-content">
    <h3>Adicionar Imagem</h3>

    <div class="image-upload-container">
      <label for="imageInput">Selecionar Imagem</label>
      <div class="custom-file-upload" (click)="triggerFileInput()">
        <i class="fa fa-upload"></i> Escolher Arquivo
      </div>
      <input
        #imageInput
        type="file"
        id="imageInput"
        accept="image/*"
        (change)="onImageSelected($event)"
        [disabled]="selectedImageElement !== null"
        style="display: none;"
      >
      <div class="image-preview" *ngIf="modalData.imageUrl">
        <img
          [src]="modalData.imageUrl"
          alt="Image Preview"
          [style.width.px]="imageSize"
          style="max-height: 200px; object-fit: contain;"
        >
      </div>
    </div>

    <div class="slider-container">
      <label for="imageSizeSlider">Tamanho da Imagem</label>
      <input
        type="range"
        id="imageSizeSlider"
        min="50"
        max="500"
        [(ngModel)]="imageSize"
        (input)="onSliderChange($event)"
        class="slider"
        [style.background]="getSliderBackground()"
      />
      <span>{{ imageSize }} px</span>
    </div>

    <div class="button-container">
      <button class="btn" (click)="addImage()" *ngIf="!selectedImageElement">Adicionar Imagem</button>
      <button class="btn" (click)="applyChanges()" *ngIf="selectedImageElement">Aplicar</button>
      <button
        *ngIf="selectedImageElement"
        class="btn btn-icon btn-delete" 
        (click)="deleteSelectedElement()"
        title="Deletar imagem"
      >
        <i class="fa fa-trash"></i>
      </button>
      <button class="btn btn-close" (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>