/* Estilização do Modal de Imagem */
.modal-image {
    position: fixed; /* Modal fixo na tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(219, 64, 64, 0.7), rgba(0, 0, 0, 0.5)); /* Gradiente igual ao modal-text */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Quando o modal estiver visível */
.modal-image.show {
    opacity: 1;
    display: flex;
}

/* Estilo do conteúdo do modal de imagem */
.modal-image .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px; /* Um pouco mais largo para acomodar a pré-visualização */
    max-width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título do modal */
h3 {
    color: #333; /* Cor escura para legibilidade */
    font-size: 20px;
    margin-bottom: 15px;
}

/* Estilo do label */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
    color: #555; /* Contraste suave */
}

/* Estilo do botão de upload */
.custom-file-upload {
    padding: 10px 20px;
    background-color: #646464;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    display: block;
}

.custom-file-upload i {
    margin-right: 10px;
}

.custom-file-upload:hover {
    background-color: #2e2e2e;
}

/* Pré-visualização da imagem */
.image-preview {
    margin: 15px 0;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container do slider */
.slider-container {
    margin: 20px 0;
}

.slider-container span {
    color: #555;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

/* Slider de ajustes */
.slider {
    width: 80%;
    appearance: none;
    height: 7px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fafcfa;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilização dos botões */
.modal-actions {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 10px 20px;
    background-color: #383938;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2e2e2e;
}

.btn-close {
    background-color: #ff4d4d;
}

.btn-close:hover {
    background-color: #cc0000;
}

/* Foco nos botões */
button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
}