/* Estilo do Modal */
.modal {
    position: fixed;
    margin-top: -239px;
    margin-left: -37px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Faz o modal começar no lado direito da tela */
    align-items: flex-end; /* Centraliza o modal verticalmente */
    z-index: 9999; /* Garante que o modal esteja acima dos outros conteúdos */
}

/* Fundo escurecido apenas à esquerda do modal */
.modal .modal-background {
    position: relative;
    margin-top: 12px;
    left: 0;
    width: 100%; /* Preenche a tela inteira */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    z-index: -1; /* Coloca o fundo atrás do modal */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    max-width: 90%; /* Para garantir que o modal não ultrapasse a tela */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo do campo de input (arquivo) */
.input-field {
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none; /* Esconde o campo de input original */
}

/* Estilo do botão para escolher arquivo (substitui o input de arquivo padrão) */
.custom-file-upload {
    padding: 10px 20px;
    background-color: #383938;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%; /* Tamanho semelhante ao campo de input */
    margin: 10px 0;
    text-align: center;
}

.custom-file-upload i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.custom-file-upload:hover {
    background-color: #2e2e2e; /* Um tom mais escuro no hover */
}

/* Estilização dos botões */
.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #383938;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2e2e2e; /* Um tom mais escuro no hover */
}

.btn-close {
    background-color: #ff4d4d; /* Um vermelho para o botão de fechar */
}

.btn-close:hover {
    background-color: #cc0000; /* Vermelho mais escuro no hover */
}

.modal.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
