/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #121212; /* Dark background */
    color: #fff;
    margin-left: 220px; /* Compensar a largura da navbar */
}

/* Navbar */
.navbar {
    background: linear-gradient(135deg, #000000, #b9babb);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Container dos Links */
.navbar-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 0 10px;
}

/* Estilo dos Links */
.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Efeitos de Hover e Foco */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(117, 118, 118, 0.8);
    transform: translateY(-3px);
}

/* Efeito de Onda ao Clicar */
.nav-link:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.3s, transform 0.3s;
}

.nav-link:active:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(50);
    transition: transform 0.5s, opacity 0.5s;
}

/* Conteúdo da Página */
.content {
    padding: 20px;
    margin-top: 20px;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    color: #ccc;
}
  /* Estilo para os botões */
  button {
    font-size: 14px; /* Tamanho da fonte */
    text-transform: uppercase; /* Tornar o texto em maiúsculas */
    padding: 8px 16px;
    border-radius: 5px;
    width: 100%; /* Faz os botões ocuparem toda a largura */
    margin: 5px 0; /* Margem entre os botões */
  }
  
  /* Botões com cor primária (Adicionar Texto) */
  button[color="primary"] {
    background-color: #343535; /* Cor primária do Material Design */
    color: white;
  }
  
  /* Botões com cor secundária (Adicionar Imagem) */
  button[color="accent"] {
    background-color: #343535; /* Cor de acento do Material Design */
    color: white;
  }
  
  /* Botões de Gerar ZPL e Gerar PNG */
  button:not([color]) {
    background-color: #343535; /* Cor verde para os geradores */
    color: white;
  }
  