/* Navbar */
.navbar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px); /* Efeito de vidro */
    border-right: 2px solid rgba(255, 255, 255, 0.15);
    background: rgba(0, 0, 0, 0.8); /* Cor fixa de fundo para a navbar */
    animation: gradientAnimation 10s ease infinite; /* Apenas anima o gradiente do fundo */
}

/* Animação do gradiente */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Container dos links */
.navbar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

/* Estilo dos links */
.navbar a {
    background: rgba(100, 99, 99, 0.8); /* Fundo metálico */
    color: #fff ;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* Efeito de hover nos links */
.navbar a:hover {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px) scale(1.05); /* Efeito de levitação */
}

/* Efeito de onda ao clicar */
.navbar a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(11, 11, 11, 0.5);
    opacity: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.3s, transform 0.3s;
}

.navbar a:active:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(50);
    transition: transform 0.5s, opacity 0.5s;
}

/* Ícones */
.navbar a i {
    font-size: 1.8rem;
}

/* Foco nos links */
.navbar a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.navbar a {
    text-decoration: none; /* Garante que o texto não tenha sublinhado */
}

/* A classe "proto" é apenas para testar */
.proto {
    color: red;
    margin-top: 125px;
}
