<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar">
  <div class="navbar-container">
    <!-- Botão Adicionar Texto -->
    <a href="#" (click)="openTextModal()">
      <i class="fas fa-font"></i> Adicionar Texto
    </a>

    <!-- Botão Adicionar Imagem -->
    <a href="#" (click)="openImageModal()">
      <i class="fas fa-image"></i> Adicionar Imagem
    </a>

    <!-- Botão Gerar ZPL -->
    <a href="#" (click)="openZplGenerator()">
      <i class="fas fa-cogs"></i> Gerar ZPL
    </a>

    <!-- Botão Gerar PNG -->
    <a href="#" (click)="openPngGenerator()">
      <i class="fas fa-file-image"></i> Gerar PNG
    </a>

    <a href="#" (click)="openBmpGenerator()">
      <i class="fas fa-file-image"></i> Gerar BMP
    </a>

  </div>
  <h1 class="proto">Testes de Mecanica.</h1>
</nav>
