<div id="text-modal" class="modal" style="display: block;">
  <div class="modal-content">
    <h3>Adicionar Texto</h3>
    
    <label for="textContent">Texto:</label>
    <input 
      type="text" 
      [(ngModel)]="textContent" 
      (ngModelChange)="textContentChange.emit($event)" 
      id="textContent" 
      class="input-field" 
    />

    <!-- Controle do tamanho do texto -->
    <label for="textSize">Tamanho do Texto: {{ textSize }}px</label>

    <!-- Slider dinâmico -->
    <input 
      type="range" 
      min="10" 
      max="200" 
      step="1" 
      [(ngModel)]="textSize" 
      (input)="onTextSizeChange($event)" 
      [style.background]="getSliderBackground()" 
      id="textSizeSlider" 
      class="slider" 
    />

    <!-- Input numérico para digitar o tamanho -->
    <input 
      type="number" 
      min="10" 
      max="200" 
      [(ngModel)]="textSize" 
      (ngModelChange)="onTextSizeChangeManual($event)" 
      id="textSizeInput" 
      class="input-field"
    />

    <!-- Controle de estilos -->
    <div class="text-styles">
      <!-- Negrito -->
      <label>
        <input 
          type="checkbox" 
          [checked]="textStyleService.getBold()" 
          (change)="onBoldChange($event)" 
        />
        Negrito
      </label>
      
      <!-- Itálico -->
      <label>
        <input 
          type="checkbox" 
          [checked]="textStyleService.getItalic()" 
          (change)="onItalicChange($event)" 
        />
        Itálico
      </label>

      <!-- Sublinhado -->
      <label>
        <input 
          type="checkbox" 
          [checked]="textStyleService.getUnderline()" 
          (change)="onUnderlineChange($event)" 
        />
        Sublinhado
      </label>
    </div>

    <button class="btn" (click)="addText()">Adicionar Texto</button>
    <button class="btn btn-close" (click)="closeModal()">Fechar</button>
  </div>
</div>
