


/* Estilização do Modal de Texto */
.modal-text {
  position: absolute; /* Garante que o modal fique dentro do container */
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  display: flex;
  justify-content: center; /* Centraliza o modal horizontalmente */
  align-items: center; /* Centraliza o modal verticalmente */
  z-index: 9999; /* Garante que o modal esteja acima dos outros conteúdos */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s ease-in-out; /* Efeito suave ao abrir o modal */
}

/* Quando o modal estiver visível */
.modal-text.show {
  opacity: 1;
  display: flex;
}

/* Estilo do conteúdo do modal de texto */
.modal-text .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px; /* Ajuste de largura para manter consistência */
  max-width: 90%; /* Para garantir que o modal não ultrapasse a tela */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título do modal de texto */
h3 {
  font-size: 20px;
  color: white; /* Cor do título em branco */
  margin-bottom: 15px;
}

/* Estilo do label */
label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  color: white; /* Cor do texto do label em branco */
}

/* Estilo do campo de input */
.input-field {
  margin: 10px 0;
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: white; /* Cor do texto no campo de input */
  background-color: #383938; /* Cor de fundo escura */
  box-sizing: border-box;
}

/* Estilização dos botões */
.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #383938;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2e2e2e; /* Um tom mais escuro no hover */
}

.btn-close {
  background-color: #ff4d4d;
}

.btn-close:hover {
  background-color: #cc0000;
}

.modal-text .btn-close {
  background-color: #ff4d4d;
}

.modal-text .btn-close:hover {
  background-color: #cc0000;
}

/* Efeito de fade-in para o modal */
.modal-text.show {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Foco nos botões */
button:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
}

.slider {
  width: 80%;
  margin: 20px 0;
  appearance: none;
  height: 7px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #eeebe7;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #383938;
  border-radius: 50%;
  cursor: pointer;
}
