<div id="text-modal" class="modal" style="display: block;">
  <div class="modal-content">
    <h3>Adicionar Texto</h3>
    <label for="textContent">Texto:</label>
    <input type="text" [(ngModel)]="textContent" (ngModelChange)="textContentChange.emit($event)" id="textContent" class="input-field" />
    
    <label for="textSize">Tamanho do Texto:</label>
    <input type="number" [(ngModel)]="textSize" (ngModelChange)="textSizeChange.emit($event)" id="textSize" class="input-field" />
    
    <button class="btn" (click)="addText()">Adicionar Texto</button>
    <button class="btn btn-close" (click)="closeModal()">Fechar</button>
  </div>
</div>
